Makefile
config.log
config.status
libtool
libtool-disable-static
man/Makefile
src/.deps/
src/.libs/
src/Makefile
src/libxosd-xft/.deps/
src/libxosd-xft/.libs/
src/libxosd-xft/Makefile
src/libxosd-xft/geometry.lo
src/libxosd-xft/geometry.o
src/libxosd-xft/libxosd-xft.la
src/libxosd-xft/monitors.lo
src/libxosd-xft/monitors.o
src/libxosd-xft/xosd-xft.lo
src/libxosd-xft/xosd-xft.o
src/nerdfonts.o
src/osd-demo
src/osd-demo.o
src/osd-example
src/osd-example.o
src/osd-show-file
src/osd-show-file.o
src/osd-show-key
src/osd-show-key.o
src/utf8.o
xosd-xft.pc
